@import "tailwindcss";

body{
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
}

*, *::before, *::after{
    font-family: "Poppins", sans-serif;
}

.leaflet-container{
    height: 90vh;
    width: 90vw;
}