@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*, *::before, *::after{
    font-family: "Poppins", sans-serif;
}

body{
    background-color: aliceblue;
}

.leaflet-container{
@apply h-[400px] w-full
}

a:hover{
    @apply scale-110
}

a:active{
    @apply scale-100 
}

.active{
    @apply underline
}

button:hover{
    @apply scale-110 opacity-80 cursor-pointer
}

button:active{
    @apply scale-100 opacity-90
}